<a href="https://colab.research.google.com/github/aaron23gregory/Preppin-Data-Challenges/blob/main/Preppin_Data_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023: Week 1 The Data Source Bank

Goals:
Input the data (help)
Split the Transaction Code to extract the letters at the start of the transaction code. These identify the bank who processes the transaction (help)
Rename the new field with the Bank code 'Bank'. 
Rename the values in the Online or In-person field, Online of the 1 values and In-Person for the 2 values. 
Change the date to be the day of the week (help)
Different levels of detail are required in the outputs. You will need to sum up the values of the transactions in three ways (help):
1. Total Values of Transactions by each bank
2. Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person)
3. Total Values by Bank and Customer Code

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving PD 2023 Wk 1 Input.csv to PD 2023 Wk 1 Input.csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['PD 2023 Wk 1 Input.csv']))
df2.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date
0,DTB-716-679-576,1448,100001,2,20/03/2023 00:00:00
1,DS-795-814-303,7839,100001,2,15/11/2023 00:00:00
2,DSB-807-592-406,5520,100005,1,14/07/2023 00:00:00
3,DS-367-545-264,7957,100007,2,18/08/2023 00:00:00
4,DSB-474-374-857,5375,100000,2,26/08/2023 00:00:00

In [ ]:
#Split the first part of the transaction code that represents the bank
df2['Bank'] = df2['Transaction Code'].apply(lambda x: x.split("-")[0])
df2.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date,Bank,Day of the Week
0,DTB-716-679-576,1448,100001,In-Person,2023-03-20,DTB,Monday
1,DS-795-814-303,7839,100001,In-Person,2023-11-15,DS,Wednesday
2,DSB-807-592-406,5520,100005,Online,2023-07-14,DSB,Friday
3,DS-367-545-264,7957,100007,In-Person,2023-08-18,DS,Friday
4,DSB-474-374-857,5375,100000,In-Person,2023-08-26,DSB,Saturday

In [ ]:
#Replacing the 1's and 2's in "Online or in person" with "Online" or "In-Person"
replacement_mapping = {1: 'Online', 2: 'In-Person'}
df2['Online or In-Person'] = df2['Online or In-Person'].map(replacement_mapping)
df2.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date,Bank
0,DTB-716-679-576,1448,100001,In-Person,20/03/2023 00:00:00,DTB
1,DS-795-814-303,7839,100001,In-Person,15/11/2023 00:00:00,DTB
2,DSB-807-592-406,5520,100005,Online,14/07/2023 00:00:00,DTB
3,DS-367-545-264,7957,100007,In-Person,18/08/2023 00:00:00,DTB
4,DSB-474-374-857,5375,100000,In-Person,26/08/2023 00:00:00,DTB

In [ ]:
#Change the transaction date to a day of the week
df2['Transaction Date'] = pd.to_datetime(df2['Transaction Date'])

# Extract the day of the week and assign it to a new column
df2['Day of the Week'] = df2['Transaction Date'].dt.strftime('%A')
df2.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date,Bank,Day of the Week
0,DTB-716-679-576,1448,100001,In-Person,2023-03-20,DTB,Monday
1,DS-795-814-303,7839,100001,In-Person,2023-11-15,DTB,Wednesday
2,DSB-807-592-406,5520,100005,Online,2023-07-14,DTB,Friday
3,DS-367-545-264,7957,100007,In-Person,2023-08-18,DTB,Friday
4,DSB-474-374-857,5375,100000,In-Person,2023-08-26,DTB,Saturday

In [ ]:
#Grouping value by bank
grouped=df2.groupby("Bank")
print(grouped['Value'].sum())

Bank
DS     653940
DSB    530489
DTB    618238
Name: Value, dtype: int64

In [ ]:
#Grouping by Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person)

grouped=df2.groupby(["Bank","Day of the Week","Online or In-Person"])
print(grouped['Value'].sum())

Bank  Day of the Week  Online or In-Person
DS    Friday           In-Person              50925
                       Online                 61713
      Monday           In-Person              50810
                       Online                 34668
      Saturday         In-Person              41141
                       Online                 64362
      Sunday           In-Person              70291
                       Online                 40022
      Thursday         In-Person              39805
                       Online                 11448
      Tuesday          In-Person              42519
                       Online                 41709
      Wednesday        In-Person              63957
                       Online                 40570
DSB   Friday           In-Person              31640
                       Online                 30308
      Monday           In-Person              39507
                       Online                 37895
      Saturday         In-Person              72116
                       Online                 39699
      Sunday           In-Person              38907
                       Online                 13701
      Thursday         In-Person              36124
                       Online                 31552
      Tuesday          In-Person              13564
                       Online                 44387
      Wednesday        In-Person              33764
                       Online                 67325
DTB   Friday           In-Person              72080
                       Online                 19467
      Monday           In-Person              25951
                       Online                 44210
      Saturday         In-Person              72778
                       Online                 27722
      Sunday           In-Person              26900
                       Online                 49997
      Thursday         In-Person              46095
                       Online                 77318
      Tuesday          In-Person              30040
                       Online                 41652
      Wednesday        In-Person              49833
                       Online                 34195
Name: Value, dtype: int64

In [ ]:
#Grouping by Total Values by Bank and customer code

grouped=df2.groupby(["Bank","Customer Code"])
print(grouped['Value'].sum())

Bank  Customer Code
DS    100000           57909
      100001           53063
      100002           69803
      100003           25482
      100004           63315
      100005           39668
      100006           77636
      100007           76190
      100008           56400
      100009           56581
      100010           77893
DSB   100000           27585
      100001           67856
      100002           27936
      100003           58154
      100004           39003
      100005           56396
      100006           32333
      100007           29702
      100008           47121
      100009           51749
      100010           92654
DTB   100000           77252
      100001           60675
      100002           48616
      100003           84574
      100004           44435
      100005           37795
      100006           41909
      100007           29308
      100008           69352
      100009           52926
      100010           71396
Name: Value, dtype: int64